<h1>
    Which workshop are you attending?
</h1>

<% @workshop.each do |single_workshop| %>
    <h2>
        <%= link_to single_workshop.name, new_question_path %>
    </h2>
<% end %><br>

<%= link_to 'Add New Workshop', new_workshop_path %> 

<%= link_to 'Facilitators', facilitators_path %>  

<%= link_to 'Attendees', attendees_path %> 




<h1>
    Attendees
</h1>

<% @attendee.each do |single_attendee| %>
    <h2>
        <%= single_attendee.first_name %>
    </h2>
<% end %><br>

<%= link_to 'Add New Attendee', new_attendee_path %> 

<%= link_to 'Attendees', attendees_path %> 